WTF/Account/600141002#1/bindings-cache.old
WTF/Account/600141002#1/bindings-cache.wtf
WTF/Account/600141002#1/macros-cache.txt
WTF/Account/600141002#1/macros-cache.old
WTF/Account/600141002#1/config-cache.wtf
WTF/Account/600141002#1/config-cache.old
WTF/Account/600141002#1/cache.md5
WTF/Config.wtf
Utils/
Logs/
Errors/
Cache/
BlizzardError.exe
.flavor.info
Wow.exe
World of Warcraft Launcher.exe
WoW.mfil
GFSDK_Aftermath_Lib.x64.dll
DBGHELP.DLL
WTF/Account/600141002#1/碧玉矿洞/白银兽骑团副/
WTF/Account/600141002#1/碧玉矿洞/白银兽骑团友/
WTF/Account/600141002#1/碧玉矿洞/白银兽骑团员/
WTF/Account/600141002#1/碧玉矿洞/白银兽骑团长/
